*{margin:0;padding:0;}
ul,li{list-style-type: none;}
a{text-decoration: none; color: #3a3a3a;}
img{width: 100%;height: 100%;}

.wrapper{
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    overflow: hidden;
    /* color: #3a3a3a; */
    color: #2a4159;
    /* background-color: darkblue; */
}

header{
    width:100%;
    height: 70px;
    float: left;
    position: fixed;
    z-index: 999;
    background-color: rgba(255,255,255,0.8);
    /* opacity: 0.7; */
    font-weight: 400;
}

.logo{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 20px;
    /* background-color: blueviolet; */
}

header ul{
    width: 660px;
    height: 100%;
    float: left;
    /* margin-left: 470px; */
    margin-left: 27%;
    line-height: 70px;
    /* background-color: sienna; */
}

header ul li{
    width: auto;
    height: 100%;
    float: left;
    margin-left: 30px;
    /* background-color: forestgreen; */
}

header ul li:first-child{
    margin-left: 0;
}


.social{
    width: 94px;
    height: 100%;
    float: right;
    margin-right: 30px;
    /* background-color: firebrick; */
}

.icon{
    width: 18px;
    height: 18px;
    float: left;
    margin: 25px 0 0 20px;
    /* background-color: yellow; */
}

.icon:first-child{
    margin-left: 0;
}

/* header end */

/* Home Page */

section{
    width: 100%;
    float: left;
}

#sec1{
    position: relative;
    height:75vh;
    overflow: hidden;
    /* background-color: darkseagreen; */
}

#sec1TitleContainer{
    color: whitesmoke;
    width: 40%;
    height: 50%;
    position: absolute;
    top: 240px;
    left: 100px;
    z-index: 998;
    /* background-color: darkblue; */
}

#sec1Title{
    line-height: 65px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#sec1Btn{
    width: 130px;
    height: 40px;
    background: whitesmoke;
    color: #2a4159;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    transition-duration: 0.2s;
}

#sec1Btn:hover{
    background-color: #2a4159;
}

#sec1Btn:hover a{
    color: whitesmoke;
}

#sec1GalleryContainer{
    width: 400%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.sec1GalleryImg{
    width: 25%;
    height: auto;
    /* height: 745px; */
    float: left;
}

/* section 1 end */

#sec2{
    height: 93vh;
    /* background-color: darksalmon; */
}

.secContainer{
    width: 70vw;
    height: 95%;
    margin: 0 auto;
    overflow: hidden;
    /* background-color: lightgreen; */
}

#sec2Title{
    font-size: 30px;
    width:100%;
    height: 50px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    margin: 100px auto 50px auto;
    /* background-color: deepskyblue; */
}

#introContainer{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    /* background-color: blanchedalmond; */
}

#sec2IntroTitleContainer,#sec2ImgContainer{
    display: flex;
    /* align-items: center; */
}

#sec2IntroTitleContainer{
    width: 90%;
    margin: 0 auto;
    height: 75px;
    line-height: 75px;
    justify-content: center;
    /* background-color: darkblue; */
}

.sec2IntroTitle{
    width: 320px;
    height: 100%;
    font-size: 1vw;
    text-align: center;
    font-weight: 400;
    /* background-color: azure; */
}

.sec2IntroTitle:nth-child(2){
    margin-left: 340px;
}

.sec2IntroTitle:last-child{
    margin-left: 330px;
}

#sec2ImgContainer{
    width: 100%;
    height: 560px;
    justify-content:space-between;
    /* background-color: lightcoral; */
}

.intro{
    width: 320px;
    height: 482px;
    /* background-color: darkorange; */
}

.introBtn{
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 20px auto 0 auto;
    border: 1px solid #2a4159;
    font-weight: 300;
    font-size: 15px;
    transition-duration: 0.2s;
}


.introBtn:hover{
    cursor: pointer;
    background-color: #2a4159;
}

.introBtn:hover a{
    color: whitesmoke;
}


.intro p{
    width: 100%;
    height: 140px;
    margin-top: 15px;
    text-align: center;
    font-weight: 300;
    /* background-color: firebrick; */
}

/* section 2 end */


#sec3{
    height: 40vh;
    background-image: url('../img/blogBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: indianred; */
}

#sec3Blog{
    width: 1300px;
    height: 250px;
    text-align: center;
    margin: 70px auto 0 auto;
    background-color: #D7E2C3;
    font-size: 20px;
    line-height: 50px;
    overflow: hidden;
}

#sec3TextContainer {
    width: 1000px;
    height: 200px;
    margin: 40px auto 0 auto;
    /* background-color: darkblue; */
}

#sec3TextTitle{
    font-size: 27px;
    letter-spacing: 2px;
    font-family: 'Acme', sans-serif;
}

#sec3BlogBtn{
    width: 120px;
    height: 45px;
    border: 1px solid #2a4159;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 45px;
    margin: 20px auto 0 auto;
    font-weight: 300;
    transition-duration: 0.2s;
}

#sec3BlogBtn:hover{
    background-color: #2a4159;
    /* color: #D7E2C3; */
    cursor:pointer;
}


#sec3BlogBtn:hover a{
    color: whitesmoke;
}

#sec4{
    height: 110vh;
    /* background-color: darkkhaki; */
}

.sec4Container{
    width: 1300px;
    height: 100%;
}

#sec4Title{
    /* font-family: 'Acme', sans-serif; */
    font-size: 27px;
    text-align: center;
    letter-spacing: 2px;
    width: 1100px;
    height: 40px;
    line-height: 40px;
    margin: 50px auto;
    padding: 70px;
    font-weight: 600;
    /* background-color: forestgreen; */
}

#sec4ImgContainer{
    width: 100%;
    height: 633px;
}

.sec4ImgItem{
    width: 100%;
    height: 300px;
    float: left;
    /* background-color: darkgrey; */
}

.sec4ImgItem:first-child{
    margin-bottom: 33px;
}

.sec4Img{
    width: 300px;
    height: 300px;
    margin-right: 33px;
    float: left;
}

.sec4Imglast{
    margin-right: 0;
}

#igHiddenGems{
    background:linear-gradient(180deg, rgba(255,255,255,0) 73%, #D7E2C3 65%);
    display: inline;
    font-style: italic;
}
/* Home Page End */

/* Gem Leaders Page Start */

  #themeAndy {
    float:left;
    color: #41AFC5;
  }

  #themeJessica {
    color: #41AFC5;
    float: left;
  }

  #gemleadersJessicaBtn{
    width: 200px;
    height: 40px;
    color: whitesmoke;
    background: #71C0D0;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin-top: 105px;
    transition-duration: 0.2s;
    /* margin-left: 270px; */
  }

  
#gemleadersJessicaBtn:hover {
    background-color: whitesmoke;
}

#gemleadersJessicaBtn:hover a{
    color: #2a4159;
}

#gemleadersAndyBtn{
    width: 200px;
    height: 40px;
    color: whitesmoke;
    background: #71C0D0;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin-top: 110px;
    transition-duration: 0.2s;
    float: left;
    /* margin-left: 50px; */
}

#gemleadersLinaBtn{
    width: 200px;
    height: 40px;
    color: whitesmoke;
    background: #71C0D0;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin-top: 105px;
    transition-duration: 0.2s;
    float: left;
    /* margin-left: 50px; */
    margin-bottom: 120px;
}

  
#gemleadersLinaBtn:hover {
    background-color: whitesmoke;
}

#gemleadersLinaBtn:hover a{
    color: #2a4159;
}

h1{
    font-size: 30px;
}

.subtitle {
    margin: 50px 100px;
    text-align: center;
    line-height: 2em;
    font-size: 20px;
}

h3{
    font-size: 1.3em;
}

.gemleadersP, h4{
    font-size: 1.2em;
}

.leftimage,.rightimage{
    width: 450px;
    height: 450px;
}

.leftimage{
    /* margin-bottom: 20px;
    margin-right: 40px; */
    display: inline-block;
}
  
.rightimage{
    float: right;
    margin-bottom: 20px;
    margin-left: 40px;
    display: inline-block;
}

.imageframe{
    border: 8px #71C0D0 double;
}
  
  .profile {
    width: 65%;
    height: 550px;
    /* padding: 40px;
    margin: 40px; */
    margin: 0 auto;
    /* background-color: darkblue; */
  }
  .blue-line {
    width: 100%;
    height: 5px;
    background: #71C0D0;
    margin-bottom: 40px;
  }
  .book-now {
    color: #71C0D0; 
    font-weight: bold;
  }



.wrapper {
  margin: 0 auto;
}
  #gemleadersSec1{
    width: 100%;
    height: 429px;
    position: relative;
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    /* background-color: darkblue; */
  }

  #gemleadersBanner,#gemleadersBannerText{
      position: absolute;
      top: 0;
      left: 0;
  }

  #gemleadersBanner{
      width: 100%;
      height: auto;
      margin-bottom: 100px;
  }

  #gemleadersBannerText{
      width: 40%;
      height: 60%;
      margin-top: 150px;
      margin-left: 90px;
      /* background-color: darkcyan; */
      color: black;
      font-size: 16px;
  }

  #gemleadersBannerTitle{
      font-size: 30px;
      font-weight: 400;
  }
/* Gem Leaders Page End */

/* FAQ Page */
.faq_banner {
    width: 100%;
    height: auto;
    max-height: 400px;  
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}

.accordion {
    background-color: #EFFFEA;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    margin: 5px;
    border: outset #EBF6D7 5px;
    text-align: left;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.active, .question:hover {
    background-color: yellowgreen; 
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    margin: 40px;
    font-size: 1.1em;
}

.faq_container {
    width: 60%;
    margin: auto;
    margin-bottom: 100px;
}

.faq_title {
    text-align: center;
    margin: 40px;
}
#faqSec1{
    width: 100%;
    height: 429px;
    position: relative;
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    /* background-color: darkblue; */
    margin-bottom: 5px;
}

#faqBanner{
    position: absolute;
    top: 0;
    left: 0;
}

#faqBanner{
    width: 100%;
    height: auto;
}

/* #faqBannerText{
    width: 40%;
    height: 60%;
    margin-top: 150px;
    margin-left: 90px;
    background-color: darkcyan;
    color: white;
    font-size: 16px;
} */

#faqBannerTitle{
    font-size: 30px;
    font-weight: 400;
}

/* FAQ Page End */

/* TourGuide Page Start */
#tourBanner{
    width: 100%;
    height: auto;
}

#tourGuideSec2{
    width: 100%;
    height: 150vh;
    /* background-color: lightpink; */
}

#tourGuideSec2Title{
    font-size: 30px;
    letter-spacing: 1px;
    width: 500px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    padding: 80px;
    margin-top: 30px;
    font-weight: 600;
    /* background-color: yellow; */
}

#tourGuideContainer{
    width: 1300px;
    height: 90%;
    margin: 0 auto;
    /* background-color: darkblue; */
}

.tourGuideWrap{
    width: 1300px;
    height: 600px;
    float: left;
    /* background-color: yellow; */
}

.tourGuideWrap:first-child{
    margin-bottom: 50px;
}

.tourGuideItem{
    width: 410px;
    height: 100%;
    float: left;
    margin-right: 35px;
    /* background-color: lightcyan; */
}

.tourGuideItemLast{
    margin-right :0;
}

/* TourGuide Page End */

/* Contact Page Start */

input[type=text], select, textarea {
    width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}



input[type=submit] {
    background-color: #1A5D21;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkseagreen;
}

  /* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #EBF6D7;
    padding: 20px;
    max-width: 1000px;
    margin: 0px auto;
    margin-bottom: 100px;
}

  /* Create two columns that float next to eachother */
.column {
    width: 50%;
    margin-top: 6px;
    margin: auto;
    padding: 20px;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
    }
}

ul.no-bullets {
    list-style-type: none;
    margin: 35px;
    padding: 0;
}
#contactSec1{
    width: 100%;
    height: 429px;
    position: relative;
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    /* background-color: darkblue; */
}

#contactBanner{
    position: absolute;
    top: 0;
    left: 0;
}

#contactBanner{
    width: 100%;
    height: auto;
}

#contactBannerTitle{
    font-size: 30px;
    font-weight: 400;
}


/* Contact Page End */

/* About Page Start */
.about_banner {
    width: 100%;
    height: auto;
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}

.about_banner img{
    width: 100%;
    height: auto;
    max-height: 400px; 
}

.about_container {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.about_container2 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

#aboutSec1{
    width: 100%;
    height: 429px;
    position: relative;
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    margin-bottom: 10px;
}

#aboutBanner{
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

#aboutBannerText{
    width: 40%;
    height: 60%;
    margin-top: 150px;
    margin-left: 90px;
    /* background-color: darkcyan; */
    color: white;
    font-size: 16px;
}

#aboutBannerTitle{
    font-size: 30px;
    font-weight: 400;
}

/* Booking page start */

#bookingSec1{
    width: 100%;
    height: 429px;
    position: relative;
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    background-color: #D7E2C3;
}

#bookingBanner,#bookingBannerText{
    position: absolute;
    top: 0;
    left: 0;
}

#bookingBanner{
    width: 100%;
    height: 450px;
}

#bookingBannerText{
    width: 70%;
    height: 60%;
    margin-top: 120px;
    margin-left: 90px;
    /* background-color: darkcyan; */
    color: white;
    font-size: 16px;
}

#bookingBannerTitle{
    font-size: 30px;
    font-weight: 400;
}

#bookingSec2{
    width: 100%;
    height: 88vh;
    overflow: hidden;
    background-color: #D7E2C3;
}

#bookingFormTitle{
    width: 400px;
    height: 50px;
    margin: 100px auto 60px auto;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    /* background-color: darkblue; */
}

#bookingForm{
    width: 1200px;
    height: 50%;
    margin: 30px auto 50px auto;
    column-count: 2;
    column-width: 300px;
    column-gap: 80px;
    column-rule: 1px solid rgb(214, 214, 214);
    background-color: #EEEFF1;
    padding: 20px;
}

#button{
    width: 110px;
    height: 40px;
    border: 1px solid #2a4159;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 300;
    transition-duration: 0.2s;
}

#button:hover{
    background-color: #2a4159;
    color: whitesmoke;
    cursor: pointer;
}

/* Booking page end */



footer{
    width: 100%;
    height: 80px;
    float: left;
    text-align: center;
    line-height: 80px;
    background-color:#EEEFF1;
}



